{% extends "my_websites/base.html" %}


{% block content %}
  <header>
    <h1>My projects</h1>
  </header>

  <section>
      <ul>
          {% for repo in repos %}
            <li>
                <h3>{{ repo }}</h3>
                <p>{{ repo.description }}</p>
                <p><a href="{{ repo.link }}">Repository</a></p>
                <p>Last updated: {{ repo.updated_at|date:'M d, Y' }}</p>
            </li>
          {% empty %}
            <p>Work in progress.</p>
          {% endfor %}
      </ul>
  </section>
   
{% endblock content %}