{% extends "my_websites/base.html" %}


{% block content %}
  <header>
    <h1>My projects</h1>
  </header>

  <section>
    <ul>
      {# Loop through the repos list and display each repo that is listed #}
      {% for repo in repos %}
        {% if repo.is_listed %}
          <li>
            <h3>{{ repo }}</h3>

            {% if repo.description %}
              <p>{{ repo.description }}</p>
            {% endif%}

            <p><a href="{{ repo.link }}">Repository</a></p>
            <p>Last activity: {{ repo.pushed_at|date:'M d, Y' }}</p>
            
            {% if repo.is_public %}
              <p>Public</p>
            {% else %}
              <p>Private</p>
            {% endif %}
          </li>
        {% endif %}
      {% empty %}
        <p>Work in progress.</p>
      {% endfor %}
    </ul>
  </section>
   
{% endblock content %}