<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4P0HDQ45FF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-4P0HDQ45FF');
    </script>    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My personal website. Built with Django.">
    <title>Manuel Maldonado's homepage</title>

    {% load i18n bootstrap5 static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

    <!-- Cookie Policy banner -->        
    <script src="https://cdn.websitepolicies.io/lib/cconsent/cconsent.min.js" defer></script><script>window.addEventListener("load",function(){window.wpcb.init({"colors":{"popup":{"background":"#131516","text":"#D1CDC7","border":"#5e65c2"},"button":{"background":"#5e65c2","text":"#ffffff"}},"transparency":"10","padding":"small","corners":"large","content":{"href":"https://www.manuelmaldonado.me/cookie-policy/"},"fontsize":"small"})});</script>
  </head>

  <body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-md navbar-light mb-4">
        <ul class="navbar-nav">
          <li class="navbar-item active"><a class="nav-link" href="{% url 'index' %}"><strong>Home</strong></a></li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}">Resume</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>        

    <main class="container">
      <div>
        {% block header %}
        {% endblock header %}
      </div>

      <div>
        {% block content %}
        {% endblock content %}     
      </div>
    </main>

    <footer class="mt-auto text-center">
      <p>Copyright © {% now 'Y' %} - Manuel Maldonado</p>
    </footer>

  </body>
</html>