{% load bootstrap5 %}
{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My personal website. Built with Django.">
    <title>Manuel Maldonado's homepage</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block header %}
    {% endblock header %}
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light mb-4 justify-content-between">
      <ul class="navbar-nav">
        <li class="navbar-item nav-link"><a class="navbar-brand" href="{% url 'index' %}"><strong>Home</strong></a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item nav-link"><a href="{% url 'resume' %}">Resume</a></li>
        <li class="nav-item nav-link"><a href="{% url 'projects' %}">Projects</a></li>
        <li class="nav-item nav-link"><a href="{% url 'contact' %}">Contact</a></li>
      </ul>            
    </nav>        

    <main>  
      {% block content %}
      {% endblock content %}     
    </main>

    <footer>    
      <p>Copyright © {% now 'Y' %} - Manuel Maldonado</p>
    </footer>

  </body>

</html>