{% extends "my_websites/base.html" %}
{% load static bootstrap_icons %}

{% block content %}
  <div class='content-wrapper'>
    <section class="profile">
      <img src="{% static 'images/avatar.jpg' %}" alt="Github Avatar" class="profile-image">

      <article class="profile-info">
        <h4>I am</h4>
        <h1>Manuel Maldonado</h1>
        <p class="lead">System engineering student with an interest for backend development.</p> 
        <section class="profile-links">  
          <ul class="list-inline">
            {% for socialmedia in social_media %}
              <li class="list-inline-item"><a class="btn btn-outline-primary" href="{{ socialmedia.link }}">{% bs_icon socialmedia|lower %}{{ socialmedia }}</a></li>
            {% endfor %}
          </ul>
    
          <footer>
            <p>Visited {{ num_visits }} time{{ num_visits|pluralize }}.</p>
          </footer>
        </section>
      </article>
    </section>
  </div>
{% endblock content %}