{% extends "my_websites/base.html" %}

{% block header %}
  <h1 class="mb-4 text-center">My Resume</h1>
{% endblock header%}

{% block content %}
  <section class="container-sm resume-border mb-4 rounded">
    <div class="page">
      <div>
          <h2>Manuel Maldonado</h2>
          <h3><a href="{{ socialmedia.link }}">{{ socialmedia }}</a></h3>
          <h3>Venezuela</h3>
      </div>

      <br>

      <div>
          <h5>EDUCATION</h5>
          <hr />
          {% for degree in educations %}
            <p>
              <strong>{{ degree.university_name }}</strong>

              {% if degree.is_completed %}
                <strong class="date-align">{{ degree.end_date|date:"Y" }}</strong>
              {% elif degree.is_completed == False and degree.is_dropped == False %}
                <strong class="date-align">Degree expected: {{ degree.end_date|date:"F, Y" }}</strong>
              {% elif degree.is_dropped %}
                <strong class="date-align">{{ degree.start_date|date:"Y" }}-{{ degree.end_date|date:"Y" }}</strong>
              {% endif %}
            </p>
            
            <p>
              <i>{{ degree.title }}</i>
              <i class="date-align">{{ degree.location }}</i>
            </p>
            <br>           
          {% endfor %}
      </div>

      <div>
        <h5>EXPERIENCE</h5>
        <hr />

        {% firstof '' as prev_company %}
        {% for job in jobs %}
          {% if job.company != prev_company %}
            <h5>
              <strong>{{ job.company }}</strong>
            </h5>
            {% firstof job.company as prev_company %}
          {% endif %}

          <p>
            <i>{{ job.job_title }}</i>
            {% if job.is_employee %}
              <strong class="date-align">{{ job.start_date|date:"M. Y"}} - Present</strong>
            {% else %}
              <strong class="date-align">{{ job.start_date|date:"M. Y"}} - {{ job.end_date|date:"M. Y" }}</strong>
            {% endif %}
          </p>

          <div>
            <p>{{ job.description }}</p>
            <p><i>{{ job.location }}</i></p>
            <br>
          </div>
        {% endfor %}  
      </div>

      <div>
        <h5>SKILLS AND INTERESTS</h5>
        <hr />
        <ul>
            <li>
                <p>
                    <strong>Highly skilled and proficient in:</strong> {{ expert_skills|join:", " }}.
                </p>
            </li>
            <li>
                <p>
                    <strong>Proficient in:</strong> {{ proficient_skills|join:", " }}.
                </p>
            </li>
            <li>
                <p>
                    <strong>Frameworks/libraries/tools:</strong> {{ flt_skills|join:", " }}.
                </p>
            </li>
            <li>
                <p>
                    <strong>Interests:</strong> {{ interests|join:"; " }}.
                </p>
            </li>
        </ul>
      </div>

      <br>

      <div>
        <h5>PROJECTS</h5>
        <hr />
        <p>Check the <a href="{% url 'projects' %}">projects</a> page :)</p>
      </div>  
    <div>
  </section>
{% endblock content %}