{% extends "my_websites/base.html" %}

{% block header %}
  <h1>My Resume</h1>
{% endblock header%}

{% block content %}

  <section>
    <div class="container-sm border">
      <div>
          <h2>Manuel Maldonado</h2>
          <h3><a href="{{ socialmedia.link }}">{{ socialmedia }}</a></h3>
          <h3>Venezuela</h3>
      </div>

      <br>

      <div>
          <h4>EDUCATION</h4>
          <hr />
          {% for degree in educations %}
            <p>
              <strong>{{ degree.university_name }}</strong>
            </p>
            <p>
              <i>{{ degree.title }}</i>
            </p>

            {% if degree.is_completed %}
              <p>{{ degree.end_date|date:"Y" }}</p>
            {% elif degree.is_completed == False and degree.is_dropped == False %}
              <p>Degree expected: {{ degree.end_date|date:"M, Y" }}</p>
            {% elif degree.is_dropped %}
              <p>{{ degree.start_date|date:"Y" }}-{{ degree.end_date|date:"Y" }}</p>
            {% endif %}

            <p>{{ degree.location }}</p>
          {% endfor %}
      </div>

      <br>

      <div>
        <h4>EXPERIENCE</h4>
        <hr />
        {% firstof '' as prev_company %}
        {% for job in jobs %}
          {% if job.company != prev_company %}
            <h5>
              <strong>{{ job.company }}</strong>
            </h5>
            {% firstof job.company as prev_company %}
          {% endif %}
          <p>
            <i>{{ job.job_title }}</i>
          </p>
          <div>
            <p>{{ job.description }}</p>
            <p>{{ job.location }}</p>
          </div>
        {% endfor %}  
      </div>

      <br>

      <div>
        <h4>SKILLS AND INTERESTS</h4>
        <hr />
        <ul>
            <li>
                <p>
                    <strong>Highly skilled and proficient in:</strong> {{ expert_skills|join:", " }}.
                </p>
            </li>
            <li>
                <p>
                    <strong>Proficient in:</strong> {{ proficient_skills|join:", " }}.
                </p>
            </li>
            <li>
                <p>
                    <strong>Frameworks/libraries/tools:</strong> {{ flt_skills|join:", " }}.
                </p>
            </li>
            <li>
                <p>
                    <strong>Interests:</strong> {{ interests|join:"; " }}.
                </p>
            </li>
        </ul>
      </div>

      <br>

      <div>
        <h4>PROJECTS</h4>
        <hr />
        <p>Check projects page :)</p>
      </div>  
    <div>
  </section>

{% endblock content %}